<!-- <h1>Knights of the Round Table</h1>
<table>
	<thead>
		<tr>
			<th resizable>Member</th>
			<th >Nickname</th>
			<th >Fate</th>
		</tr>
	</thead>
	<tbody>
		<tr *ngFor="let row of rows">
			<td *ngFor="let cell of row">{{cell}}</td>
		</tr>
	</tbody>
</table> -->

<!--
<div class="zui-wrapper">
    <div class="zui-scroller">
        <table class="zui-table">
            <tr>
                <th resizable rowspan="2" class="zui-sticky-col">prueba</th>
                <th resizable rowspan="2">prueba2</th>
                <th colspan="2">prueba3</th>
                <th resizable rowspan="2">prueba</th>
                <th resizable rowspan="2">prueba</th>
                <th resizable rowspan="2">prueba</th>
                <th resizable rowspan="2">prueba</th>
                <th resizable rowspan="2">prueba</th>
                <th resizable rowspan="2">prueba</th>
                <th resizable rowspan="2">prueba</th>
                <th resizable rowspan="2">prueba</th>
                <th resizable rowspan="2">prueba</th>
                <th resizable rowspan="2">prueba</th>
                <th resizable rowspan="2">prueba</th>
            </tr>
            <tr>
                <th>3.1</th>
                <th>3.2</th>
            </tr>
            <tr>
                <td class="zui-sticky-col">1.1</td>
                <td>2.1</td>
                <td>3.1.1</td>
                <td>3.2.1</td>
                <td>prueba</td>
                <td>prueba</td>
                <td>prueba</td>
                <td>prueba</td>
                <td>prueba</td>
                <td>prueba</td>
                <td>prueba</td>
                <td>prueba</td>
                <td>prueba</td>
                <td>prueba</td>
                <td>prueba</td>
            </tr>

        </table>
    </div>

</div>
-->


<!-- <div class="container">

    <table>
        <thead>
            <tr>
                <th class="fixed">aaa</th>
                <th resizable>a</th>
                <th resizable>b</th>
                <th resizable>a</th>
                <th resizable>b</th>
                <th resizable>a</th>
                <th resizable>b</th>
                <th resizable>a</th>
                <th resizable>b</th>
                <th resizable>a</th>
                <th resizable>b</th>
                <th resizable>a</th>
                <th resizable>b</th>
                <th resizable>a</th>
                <th resizable>b</th>
                <th resizable>a</th>
                <th resizable>b</th>
                <th resizable>a</th>
                <th resizable>b</th>
                <th resizable>a</th>
                <th resizable>b</th>
                <th resizable>a</th>
                <th resizable>b</th>
                <th resizable>a</th>
                <th resizable>b</th>
                <th resizable>b</th>
                <th resizable>a</th>
                <th resizable>b</th>
                <th resizable>a</th>
                <th resizable>b</th>
                <th resizable>a</th>
                <th resizable>b</th>
                <th resizable>a</th>
                <th resizable>b</th>
                <th resizable>a</th>
                <th resizable>b</th>
                <th resizable>a</th>
                <th resizable>b</th>
                <th resizable>a</th>
                <th resizable>b</th>
                <th resizable>a</th>
                <th resizable>b</th>
                <th resizable>a</th>
                <th resizable>b</th>
                <th resizable>a</th>
                <th resizable>b</th>
                <th resizable>a</th>
                <th resizable>b</th>
            </tr>
        </thead>
        <tr>
            <td class="fixed">aaa</td>
            <td>a</td>
            <td>b</td>
            <td>c</td>
            <td>d</td>
            <td>e</td>
            <td>f</td>
            <td>a</td>
            <td>b</td>
            <td>c</td>
            <td>d</td>
            <td>e</td>
            <td>f</td>
            <td>a</td>
            <td>b</td>
            <td>c</td>
            <td>d</td>
            <td>e</td>
            <td>f</td>
            <td>a</td>
            <td>b</td>
            <td>c</td>
            <td>d</td>
            <td>e</td>
            <td>f</td>
        </tr>
        <tr>
            <td class="fixed">bbb</td>
            <td>a</td>
            <td>b</td>
            <td>c</td>
            <td>d</td>
            <td>e</td>
            <td>f</td>
            <td>a</td>
            <td>b</td>
            <td>c</td>
            <td>d</td>
            <td>e</td>
            <td>f</td>
            <td>a</td>
            <td>b</td>
            <td>c</td>
            <td>d</td>
            <td>e</td>
            <td>f</td>
            <td>a</td>
            <td>b</td>
            <td>c</td>
            <td>d</td>
            <td>e</td>
            <td>f</td>
        </tr>
    </table>

</div> -->




<!-- <style>
    body {
        margin: 0;
        font-family: sans-serif;
        font-size: 1rem;
        line-height: 1.6em;
        color: #333;
    }

    * {
        box-sizing: border-box;
    }

    .page-container {
        max-width: 700px;
        margin: 2rem auto;
    }

    .table-cebra{
        border-top: solid 1px #ccc;
        border-spacing: 0;
    }

    .table-cebra thead th{
        background: #333;
        color: white;
    }

    .table-cebra th,
    .table-cebra td {
        border-right: 1px solid #ccc;
        min-width: 150px;
        padding: 0.5rem;
        text-align: left;
    }

    .table-cebra th:last-child,
    .table-cebra td :last-child {
        border-right: 0;
    }

    .table-cebra td{
        border-bottom: 1px solid #ccc;
    }

    .table-cebra tbody tr {
        background: white;
    }

    .table-cebra tbody tr :nth-child(2n){
        background: #f2f2f2;
    }

    .table-container{
        max-width: 100%;
        overflow-x: scroll;
        border-left: solid 1px #ccc;
        border-right: solid 1px #ccc;
    }

    .table-cebra .sticky{
        position: sticky;
        left: 0;

    }

    .table-cebra tbody tr .sticky{
        background: white;
    }

    .table-cebra tbody tr :nth-child(2n) .sticky{
        background: #f2f2f2;
    }

</style>

<div class="page-container">
    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Inventore asperiores sunt laudantium tempore?
        Voluptatibus qui beatae dolorem similique, temporibus libero vel doloremque hic vitae. Doloribus beatae
        molestiae magnam atque voluptatum?</p>

    <div class="table-container">

        <table class="table-cebra">
            <thead>
                <tr>
                    <th class="sticky">Columna 1</th>
                    <th resizable>Columna</th>
                    <th resizable>Columna</th>
                    <th >Columna</th>
                    <th>Columna</th>
                    <th>Columna</th>
                    <th>Columna</th>
                    <th>Columna</th>
                    <th>Columna</th>
                    <th>Columna</th>
                </tr>

            </thead>

            <tbody>
                <tr>
                    <td class="sticky">Columna</td>
                    <td>Columna</td>
                    <td>Columna</td>
                    <td>Columna</td>
                    <td>Columna</td>
                    <td>Columna</td>
                    <td>Columna</td>
                    <td>Columna</td>
                    <td>Columna</td>
                    <td>Columna</td>
                </tr>
                <tr>
                    <td class="sticky">Columna</td>
                    <td>Columna</td>
                    <td>Columna</td>
                    <td>Columna</td>
                    <td>Columna</td>
                    <td>Columna</td>
                    <td>Columna</td>
                    <td>Columna</td>
                    <td>Columna</td>
                    <td>Columna</td>
                </tr>
                <tr>
                    <td class="sticky">Columna</td>
                    <td>Columna</td>
                    <td>Columna</td>
                    <td>Columna</td>
                    <td>Columna</td>
                    <td>Columna</td>
                    <td>Columna</td>
                    <td>Columna</td>
                    <td>Columna</td>
                    <td>Columna</td>
                </tr>
                <tr>
                    <td class="sticky">Columna</td>
                    <td>Columna</td>
                    <td>Columna</td>
                    <td>Columna</td>
                    <td>Columna</td>
                    <td>Columna</td>
                    <td>Columna</td>
                    <td>Columna</td>
                    <td>Columna</td>
                    <td>Columna</td>
                </tr>
                <tr>
                    <td class="sticky">Columna</td>
                    <td>Columna</td>
                    <td>Columna</td>
                    <td>Columna</td>
                    <td>Columna</td>
                    <td>Columna</td>
                    <td>Columna</td>
                    <td>Columna</td>
                    <td>Columna</td>
                    <td>Columna</td>
                </tr>
                <tr>
                    <td class="sticky">Columna</td>
                    <td>Columna</td>
                    <td>Columna</td>
                    <td>Columna</td>
                    <td>Columna</td>
                    <td>Columna</td>
                    <td>Columna</td>
                    <td>Columna</td>
                    <td>Columna</td>
                    <td>Columna</td>
                </tr>
                <tr>
                    <td class="sticky">Columna</td>
                    <td>Columna</td>
                    <td>Columna</td>
                    <td>Columna</td>
                    <td>Columna</td>
                    <td>Columna</td>
                    <td>Columna</td>
                    <td>Columna</td>
                    <td>Columna</td>
                    <td>Columna</td>
                </tr>
                <tr>
                    <td class="sticky">Columna</td>
                    <td>Columna</td>
                    <td>Columna</td>
                    <td>Columna</td>
                    <td>Columna</td>
                    <td>Columna</td>
                    <td>Columna</td>
                    <td>Columna</td>
                    <td>Columna</td>
                    <td>Columna</td>
                </tr>
                <tr>
                    <td class="sticky">Columna</td>
                    <td>Columna</td>
                    <td>Columna</td>
                    <td>Columna</td>
                    <td>Columna</td>
                    <td>Columna</td>
                    <td>Columna</td>
                    <td>Columna</td>
                    <td>Columna</td>
                    <td>Columna</td>
                </tr>
            </tbody>



        </table>

    </div>
</div> -->


Use Plugin: jquery-resizable-columns and bootstrap-table-resizable.

<table id="table"
  data-show-columns="true"
  data-search="true"
  data-show-toggle="true"
  data-pagination="true"
  data-url="json/data1.json"
  data-resizable="true">
  <thead>
    <tr>
      <th data-field="id" data-sortable="true">ID</th>
      <th data-field="name" data-sortable="true">Item Name</th>
      <th data-field="price" data-sortable="true">Item Price</th>
    </tr>
  </thead>
</table>

